src/test/resources/mqtt-connector-tests-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mqtt="http://www.mulesoft.org/schema/mule/mqtt" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/mqtt http://www.mulesoft.org/schema/mule/mqtt/current/mule-mqtt.xsd">

    <mqtt:config name="muleClient1" clientId="muleClient1">
        <reconnect-forever frequency="5000" />
    </mqtt:config>
    
    <mqtt:config name="muleClient2" clientId="muleClient2">
        <reconnect-forever frequency="5000" />
    </mqtt:config>

    <flow name="testMessagePublisher">
        <poll frequency="5000">
            <set-payload value="message-#[System.currentTimeMillis()]" />
        </poll>
        <mqtt:publish topicName="test/topic" config-ref="muleClient1" />
    </flow>

    <flow name="testMessageListener">
        <mqtt:subscribe topicFilter="test/topic" config-ref="muleClient1" />
        <logger level="INFO" message="Single> #[message.payloadAs(java.lang.String)]" />
    </flow>

    <flow name="testMultiMessageListener">
        <mqtt:subscribe topicFilter="test/topic" config-ref="muleClient2">
            <mqtt:topic-subscriptions>
                <mqtt:topic-subscription topicFilter="test/other" />
            </mqtt:topic-subscriptions>
        </mqtt:subscribe>
        <logger level="INFO" message="Multi>  #[message.payloadAs(java.lang.String)]" />
    </flow>
</mule>
