src/test/resources/mqtt-connector-tests-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mqtt="http://www.mulesoft.org/schema/mule/mqtt" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
        http://www.mulesoft.org/schema/mule/mqtt http://www.mulesoft.org/schema/mule/mqtt/current/mule-mqtt.xsd">

    <mqtt:config name="muleClient1" clientId="muleClient"
        brokerServerUri="tcp://localhost:${mqtt.broker.port}" />

    <mqtt:config name="muleClient2"
        clientId="#['mule-' + org.apache.commons.lang.RandomStringUtils.randomAlphanumeric(18)]"
        brokerServerUri="tcp://localhost:${mqtt.broker.port}" />

    <flow name="publisher">
        <vm:inbound-endpoint path="publisher.in"
            exchange-pattern="request-response" />
        <mqtt:publish topicName="#[message.inboundProperties.topicName]"
            config-ref="muleClient1" />
    </flow>

    <flow name="subscriberSingleFilter">
        <mqtt:subscribe topicFilter="test/topic" config-ref="muleClient1" />
        <test:component />
    </flow>

    <flow name="subscriberMultiFilters">
        <mqtt:subscribe topicFilter="test/topic" config-ref="muleClient2">
            <mqtt:topic-subscriptions>
                <mqtt:topic-subscription topicFilter="test/other" />
            </mqtt:topic-subscriptions>
        </mqtt:subscribe>
        <test:component />
    </flow>
</mule>
